<div class="container">
    <div class="temp-header"></div>

    <div class="wrap-cont">

        <!-- save uk -->
        <div class="save-uk">
            <div class="support">
                <h2 class="title-support"></h2>
                <img class="img-support" src="./images/icon/Group.png" alt="" />
                <div class="carousel-container">
                    <div class="inner-carousel">
                        <ol class="track">
                        </ol>
                        <div class="nav">
                            <button class="prev">
                                <svg class="wardrobe-icon-svg" wigth="6" height="12">
                                    <use class="wardrobe-svg" href="./images/sprite.svg#icon-Vector-4"></use>
                                </svg>
                            </button>
                            <button class="next">
                                <svg class="wardrobe-icon-svg" wigth="6" height="12">
                                    <use class="wardrobe-svg" href="./images/sprite.svg#icon-Vector-3"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shopping-list-wrapper">
    
            <h1 class="shopping-title">Shopping <span>List</span></h1>
            <!-- EMPTY BOOKS -->
            <div class="empty-book-wrapper">
                <div class="empty-book-text-wrapper">
                    <!-- <p class="empty-book-text">Клікни мишкою на заголовок.  Клікни мишкою на заголовок. </p> -->
                    <p class="empty-book-text">This page is empty, add some books and proceed to order.</p>
                </div>
                
                <div class="thumb-img-shop">
                    <!-- <img src="./images/img/IMG_96061.png" alt="No books"> -->

                    <picture>
                        <source
                        srcset="./images/img/IMG_960612x.png 1x, ./images/img/IMG_960612x.png 2x"
                        media="(min-width: 768px)"
                        />
                        <img class="empty-book-img" src="./images/img/IMG_96061.png" alt="No books">
                    </picture>

                </div>
            </div>

            <!-- LIST BOOKS -->
            <ul class="shopping-list"></ul>

            <!-- TURN BUTTONS -->
            <ul class="shopping-list-btn is-hidden">
                <li><button class="turn-start" type="button" data-turn="start"> << </button></li>
                <li><button class="turn-prev" type="button" data-turn="prev"> < </button></li>
                <li><button class="turn-number first is-hidden" type="button" data-turn="1">1</button></li>
                <li><button class="turn-number second is-hidden" type="button" data-turn="2">2</button></li>
                <li><button class="turn-number third is-hidden" type="button" data-turn="3">3</button></li>
                <li><button class="turn-number rest is-hidden" type="button" data-turn="4">...</button></li>
                <li><button class="turn-next" type="button" data-turn="next"> > </button></li>
                <li><button class="turn-end" type="button" data-turn="end"> >> </button></li>
            </ul>
            

        </div>
    </div>
    
</div>
